list {
  .categories-bar {
    @media #{$screen-xs} {
      overflow-y: auto;
    }
  }

  md-menu {
    >.md-button {
      padding: 2px 6px;
      border-radius: 5px;
      font-weight: 400;

      &:hover, &:focus {
        background-color: rgb(40,47,107) !important;
      }
    }
  }
}

.md-open-menu-container#menu_container_1 {
  .md-button:hover, .md-button:focus {
    background-color: transparent !important;
  }

  md-menu-content {
    max-height: 208px !important;

    .selected {
      background: #cecece;
    }
  }
}