<div layout="column" layout-align="center center" layout-align-gt-sm="center stretch" layout-padding>
    <h1 class="title">Trouver votre cours</h1>

    <div ng-if="$ctrl.$mdMedia('gt-sm')" class="categories-bar" ng-class="{'layout-wrap': $ctrl.$mdMedia('gt-xs')}" layout layout-align="center center" layout-align-xs="start center">
        <span class="pf-chips" ng-class="{'selected': $ctrl.selected === $index}" ng-click="$ctrl.selected = $index" ng-repeat="category in $ctrl.categories track by $index">{{category.name}}</span>
    </div>

    <md-menu ng-if="!$ctrl.$mdMedia('gt-sm')">
        <md-button aria-label="Menu" class="md-primary md-raised" ng-click="$mdMenu.open($event)" md-no-ink>
            Categories 
            <md-icon md-svg-icon="arrow"></md-icon>
        </md-button>

        <md-menu-content width="4">
            <md-menu-item ng-class="{'selected': $ctrl.selected === $index}" ng-click="$ctrl.selected = $index" ng-repeat="category in $ctrl.categories track by $index">
                <md-button attr-aria-label="{{category.name}}" md-no-ink md-no-focus>
                    {{category.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div class="categories-menu"></div>

    <cards></cards>
</div> 