<div flex="100" flex-gt-xs="50" flex-gt-sm="33"ui-sref="app.course({id: 1})">
    <div md-whiteframe="1" layout-fill layout="column" layout-align="start stretch">
        <div class="image" ng-style="{'background-image': 'url(https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png)'}"></div>
        <h1>Build your website with HTML5 and CSS3</h1>
        
        <span flex></span>

        <div layout="column" layout-align="end stretch">
            <progress-bar progress="80"></progress-bar>

            <p class="followed-line">Suivi depuis le 2 février 2018</p>
        </div>

        <div class="description" layout-fill>
            <h1>Build your website with HTML5 and CSS3</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit alias illo aperiam distinctio voluptates consequatur, culpa, aliquid eos iste dolorem perspiciatis animi. Reprehenderit, eligendi distinctio vitae illum dolore voluptas nihil!</p>
        </div>
    </div>
</div>

<div flex="100" flex-gt-xs="50" flex-gt-sm="33"ui-sref="app.course({id: 1})">
    <div md-whiteframe="1" layout-fill layout="column" layout-align="start stretch">
        <div class="image" ng-style="{'background-image': 'url(https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png)'}"></div>
        <h1>Build your website with HTML5 and CSS3</h1>
        
        <span flex></span>

        <div layout="column" layout-align="end stretch">
            <progress-bar progress="100" score="100"></progress-bar>

            <p class="followed-line">Suivi depuis le 2 février 2018</p>
        </div>

        <div class="description" layout-fill>
            <h1>Build your website with HTML5 and CSS3</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit alias illo aperiam distinctio voluptates consequatur, culpa, aliquid eos iste dolorem perspiciatis animi. Reprehenderit, eligendi distinctio vitae illum dolore voluptas nihil!</p>
        </div>
    </div>
</div>

<div flex="100" flex-gt-xs="50" flex-gt-sm="33"ui-sref="app.course({id: 1})">
    <div md-whiteframe="1" layout-fill layout="column" layout-align="start stretch">
        <div class="image" ng-style="{'background-image': 'url(https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png)'}"></div>
        <h1>Build your website with HTML5 and CSS3</h1>
        
        <span flex></span>

        <div layout="column" layout-align="end stretch">
            <progress-bar></progress-bar>

            <p class="followed-line">Suivi depuis le 2 février 2018</p>
        </div>

        <div class="description" layout-fill>
            <h1>Build your website with HTML5 and CSS3</h1>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit alias illo aperiam distinctio voluptates consequatur, culpa, aliquid eos iste dolorem perspiciatis animi. Reprehenderit, eligendi distinctio vitae illum dolore voluptas nihil!</p>
        </div>
    </div>
</div>