cards {
  progress-bar {
    margin: 0 0 60px;
  }

  >div {
    padding: 10px;
    
    >div {
      height: 400px !important;
      position: relative;
      transition: all 0.2s ease-in-out;

      .image {
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      h1, p {
        padding: 5px;
        margin: 0;
      }

      h1 {
        font-size: 22px;
        text-align: center;
        margin: 15px 0;
      }

      p {
        &.followed-line {
          font-size: 12px;
          text-align: right;
        }
      }

      .description {
        opacity: 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.95);
        position: absolute;
        transition: all 0.2s ease-in-out;

        p, h1 {
          padding: 15px;
          cursor: pointer;
        }
      }

      @media #{$screen-gt-xs} {
        &:hover {
          box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  
          .description {
            opacity: 1;
            overflow: visible;
          }
        }
      }
    }
  }
}