<md-toolbar layout layout-align-gt-sm="start stretch" layout-align="space-between stretch" md-whiteframe="1">
    <a ui-sref="app.dashboard" layout layout-align="center center">
        <img src="/assets/img/logo.png"/>
    </a>

    <div flex-gt-sm layout="row" layout-align-gt-sm="center center">
        <a ng-if="$ctrl.$mdMedia('gt-sm')" attr-aria-label="{{item.name}}" ng-class="{'current-state': $ctrl.$state.current.name == item.uiParams}" ng-repeat="item in $ctrl.menuItems" ui-sref="{{item.uiParams}}">
            {{item.name}}
        </a>
        
        <span ng-if="$ctrl.$mdMedia('gt-sm')" flex></span>

        <md-button aria-label="Rechercher" class="md-icon-button" ng-click="$ctrl.updateSearchParams()" md-no-ink>
                <md-tooltip ng-if="$ctrl.$mdMedia('gt-sm')">Rechercher</md-tooltip>
                <md-icon md-svg-icon="search"></md-icon>
        </md-button>

        <md-button ng-if="$ctrl.$mdMedia('gt-sm')" aria-label="Se déconnecter" class="md-icon-button blue-button" ng-click="$ctrl.unauthenticate()" md-no-ink>
            <md-tooltip>Se déconnecter</md-tooltip>
            <md-icon md-svg-icon="power"></md-icon>
        </md-button>

        <md-menu ng-if="!$ctrl.$mdMedia('gt-sm')">
            <md-button aria-label="Menu" class="md-icon-button blue-button" ng-click="$mdMenu.open($event)" md-no-ink>
                <md-icon md-menu-origin md-svg-icon="menu"></md-icon>
            </md-button>
    
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in $ctrl.menuItems">
                    <md-button attr-aria-label="{{item.name}}" ui-sref="{{item.uiParams}}" md-no-ink md-no-focus>
                        {{item.name}}
                    </md-button>
                </md-menu-item>
    
                <md-menu-divider></md-menu-divider>
    
                <md-menu-item>
                    <md-button aria-label="Se déconnecter" ng-click="$ctrl.unauthenticate()" md-no-ink>
                        Se déconnecter
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-content flex layout-padding layout layout-align="center start">
    <search ng-if="$ctrl.search" on-cancel="$ctrl.updateSearchParams()"></search>
    <ui-view ng-hide="$ctrl.search"></ui-view>
</md-content>
