layout {
  md-toolbar {
    height: 79px;
    background-color: white !important;

    >div {
      a {
        color: #282F6B;
        text-decoration: none;
        padding: 10px 5px;
        margin: 0 15px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition:  all linear 0.2s;
        position: relative;
        outline: none;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid;
          margin-top: 10px;
          opacity: 0;
          transition: all ease-in-out 0.2s;
          transform: scale(0,1);
        }

        &:hover {
          text-shadow: -0.015em -0.015em 0 #282F6B,
          0.015em -0.015em 0 #282F6B,
          -0.015em 0.015em 0 #282F6B,
          0.015em 0.015em 0 #282F6B;

          &:after {
            opacity: 1;
            transform: scale(1);
          }
        }

        &.current-state:after {
          opacity: 1;
          transform: scale(1);
        }
      }

      .md-icon-button {
        height: auto !important;
        width: auto !important;

        md-icon {
          height: 40px;
          width: 40px;
          color: #282F6B;
          transition: all 0.2s ease-in-out;

          @media #{$screen-gt-xs} {
            &:hover {
              color: #66A1D2;
            }
          }
        }

        &.blue-button {
          margin: 0;
          border-radius: 0;
          background-color: #282F6B;
          height: 100% !important;
          padding: 0 15px;

          &:hover {
            background-color: #282F6B !important;
          }

          @media #{$screen-gt-xs} {
            &:hover {
              background-color: #66A1D2 !important;
            }
          }

          md-icon {
            color: white;

            @media #{$screen-gt-xs} {
              &:hover {
                color: white;
              }
            }
          }
        }
      }
      
      md-menu {
        margin: 0 !important;
      }
    }
  }

  >md-content {
    background-color: white;
    
    search, >ui-view {
      width : 98%;
      max-width: 1280px;
    }
  }
}

.md-open-menu-container#menu_container_0 {
  top: 79px !important;
  left: auto;
  right: 0;

  .md-button:hover, .md-button:focus {
    background-color: white !important;
  }
}