course {
  .pf-chips {
    padding: 10px 15px;
    
    md-icon {
      color: white;
      margin-right: 5px
    }
  }

  .toolbar {
    margin-bottom: 20px;
  }

  .content {
    border: 1px solid #e1e1e1;

    .introduction {
      embed-video {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
  
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
  
      >p {
        padding: 0 20px;
        text-align: justify;
  
        >a, >aside {
          display: none;
        }
      }
    }

    .table-of-content {
      transition: all ease-in-out 0.3s;
      max-height: none;
      border-radius: 5px;
      
      .chapters {
        position: relative;

        .chapter {
          cursor: pointer;
          margin: 0;
          outline: none;

          p {
            color: #424242;
            padding: 0 5px;
            transition:  all ease-in-out 0.2s;
          }

          md-icon {
            transform: rotate(-90deg);
            transition:  all ease-in-out 0.2s;
          }

          &.opened, &:hover {
            p {
              text-shadow: -0.015em -0.015em 0 #424242,
              0.015em -0.015em 0 #424242,
              -0.015em 0.015em 0 #424242,
              0.015em 0.015em 0 #424242;
            }

            md-icon {
              transform: rotate(0deg);
            }
          }
        }

        .lessons {
          background: #e5e6ed;
          max-height: 0;
          overflow: hidden;
          transition:  all ease-in-out 0.2s;

          .lesson {
            font-size: 14px;
            margin: 0;
            padding: 10px 25px;
            cursor: pointer;
            transition:  all ease-in-out 0.2s;

            &:hover {
              text-shadow: -0.015em -0.015em 0 #424242,
              0.015em -0.015em 0 #424242,
              -0.015em 0.015em 0 #424242,
              0.015em 0.015em 0 #424242;
            }
          }

        }
      }

      .current-page {
        transform: rotate(0deg) !important;
        padding-right: 5px;        
      }

      .md-button {
        width: 100%;
        color: #212121;
        margin: 0;
        background-color: white;

        &:hover {
          background-color: #f1f1f2 !important;
        }
      }

      @media #{$screen-xs} {
        box-shadow: none;
      }

      @media #{$screen-sm} {
        box-shadow: none;
      }
    }

    @media #{$screen-gt-sm} {
      border: none;
    }
  }

  .tabs-bar {
    margin-top: 15px;
    border: 1px solid #e1e1e1;
    height: 60px;
    
    span {
      position: relative;
      text-align: center;
      outline: none;
      white-space: nowrap;
      padding: 5px;
      margin: 0 10px;
      color: #757575;
      transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid;
        border-color: #66A1D2;
        margin-top: 25px;
        opacity: 0;
        transition: all ease-in-out 0.2s;
        transform: scale(0);
      }

      &.selected {
        color: #66A1D2;
        text-shadow: -0.015em -0.015em 0 #66A1D2,
        0.015em -0.015em 0 #66A1D2,
        -0.015em 0.015em 0 #66A1D2,
        0.015em 0.015em 0 #66A1D2;

        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}