<div ng-if="!$ctrl.course" layout="column" layout-align="center center" layout-padding>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

<div layout="column" layout-align="center stretch" ng-if="$ctrl.course">
  <h1 class="title">{{$ctrl.course.title}}</h1>
 
  <div class="toolbar" layout layout-wrap layout-align="center center">
    <span class="pf-chips selected">
      <md-icon md-svg-icon="duration"></md-icon>
      {{$ctrl.course.duration}}h
    </span>

    <span class="pf-chips selected">
      <md-icon md-svg-icon="difficulty"></md-icon>
      {{$ctrl.course.difficulty}}
    </span>  
  </div>
  
  <progress-bar ng-if="!$ctrl.$mdMedia('gt-sm')"></progress-bar>
  <progress-bar ng-if="!$ctrl.$mdMedia('gt-sm')" progress="54"></progress-bar>
  <progress-bar ng-if="!$ctrl.$mdMedia('gt-sm')" progress="100" score="100"></progress-bar>

  <div ng-if="!$ctrl.$mdMedia('gt-sm')" class="tabs-bar" layout layout-align="center center" ng-init="$ctrl.currentTabs = 0">
    <span layout layout-align="center center" ng-click="$ctrl.currentTabs = 0" ng-class="{'selected': $ctrl.currentTabs == 0}">Cours</span>
    <span layout layout-align="center center" ng-click="$ctrl.currentTabs = 1" ng-class="{'selected': $ctrl.currentTabs == 1}">Table des matières</span>
  </div>

  <div class="content" layout="row" layout-align="space-between start">
    <div ng-show="$ctrl.$mdMedia('gt-sm') || $ctrl.currentTabs==1" layout="column" layout-align="start stretch" flex="100" flex-gt-sm="25">
      <div flex-order="1" flex-order-gt-sm="0" class="table-of-content" md-whiteframe="1" layout="column" layout-align="start stretch">
        <div class="chapters" ng-repeat="chapter in $ctrl.tableOfContent.children track by $index">
          <div class="chapter" layout layout-align="space-between center" ng-click="$ctrl.openSubMenu($index)" ng-class="{'opened': $ctrl.selected === $index && $ctrl.open}">
            <p flex>{{chapter.title}}</p>
            <md-icon md-svg-icon="arrow"></md-icon>
          </div>

          <md-divider ng-if="!$last"></md-divider>
    
          <div class="lessons" ng-class="{'dropdown': $ctrl.selected === $index && $ctrl.open}" ng-style="$ctrl.getStyle('lessons', chapter.children.length, $index)">
            <p class="lesson" ng-repeat="lesson in chapter.children" ui-sref="app.course({id: lesson.id})" ng-class="{'current-page': lesson.id = $ctrl.id}">{{lesson.title}}</p>
          </div>
        </div>
      </div>

      <progress-bar ng-if="$ctrl.$mdMedia('gt-sm')"></progress-bar>
      <progress-bar ng-if="$ctrl.$mdMedia('gt-sm')" progress="54"></progress-bar>
      <progress-bar ng-if="$ctrl.$mdMedia('gt-sm')" progress="100" score="100"></progress-bar>
    </div>
    
    <div ng-show="$ctrl.$mdMedia('gt-sm') || $ctrl.currentTabs==0" class="introduction" flex="100" flex-gt-sm="70" layout="column" layout-align="start center">
      <embed-video iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{$ctrl.course.teaser}}"><a ng-href="{{$ctrl.course.teaser}}">Watch</a></embed-video>
    
      <p ng-bind-html="$ctrl.introduction"></p>
    </div>
  </div>
</div>