dashboard {
  p {
    text-align: center;
    font-size: 20px;
  }

  table {
    border-collapse: collapse;
    box-shadow: 0px 0px 5px #adadad;

    thead {
      tr {
        height: 55px;

        th {
          span {
            color: #777777;
            font-weight: 600;
          }
        }
      }
    }

    tbody {
      tr{
        height: 40px;
        border-top: 1px solid #e1e1e1;
        
        &:hover {
          background: #eee;
        }

        th {
          font-weight: 400;
          font-size: 14px;
          color: #212121;
        }
      }
    }
  }
  
}