<div layout="column" layout-align="start stretch" layout-padding>
    <div layout layout-align="space-between center" layout-padding>     
        <md-input-container flex-gt-sm="50" flex class="md-hue-1" layout layout-align="center center">
            <label>Recherche</label>
            <input id="search" ng-change="$ctrl.searchCourses(query)" ng-model="query" ng-model-options="{debounce: 300}" autocomplete="off">
        </md-input-container>

        <md-button class="md-fab md-primary" aria-label="Annuler recherche" ng-click="$ctrl.onCancel()">
            <md-icon md-svg-icon="close"></md-icon>
        </md-button>
    </div>
    
    <cards ng-if="query"></cards>
</div>