@include font-face(Gotham, fonts/GothamThin,100, normal, otf);
@include font-face(Gotham, fonts/GothamExtraLight, 200, normal, otf);
@include font-face(Gotham, fonts/GothamLight, 300, normal, otf);
@include font-face(Gotham, fonts/GothamBook, 400, normal, ttf);
@include font-face(Gotham, fonts/GothamMedium, 500, normal, ttf);
@include font-face(Gotham, fonts/GothamBold, 600, normal, otf);
@include font-face(Gotham, fonts/GothamBlack, 700, normal, otf);
@include font-face(Gotham, fonts/GothamUltra, 800, normal, otf);

* {
  font-family: Gotham;
  font-weight: 400;
}

md-toast {
  &.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  &.md-larger {
    width: 100%;
    max-width: 600px; 
  }
  
  &.md-red {
    >div{
      background-color: #D32F2F !important;
    }
  }

  &.md-green {
    >div{
      background-color: #66A1D2 !important;
    }
  }
}

md-icon {
  svg {
    fill: currentColor;
  }
}

h1.title {
  margin: 60px 0;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  color: #212121;
  font-weight: 600;
  font-size: 2.4em;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #424242;
    opacity: 1;
    margin-bottom: -10px;
    bottom: 0;
    transition: all ease-in-out 0.2s;
    transform: scale(0.05, 1);
  }
}

.pf-chips {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 25px;
  border: 1px solid #66A1D2;
  color: #66A1D2;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;

  &.selected {
    background-color: #66A1D2;
    color: white;
  }

  @media #{$screen-gt-xs} {
    &:hover {
      background-color: #66A1D2;
      color: white;
    }
  }
}