$screen-xs: "screen and (max-width: 599px)";
$screen-xs-landscape: "screen and (max-height: 599px) and (max-width: 749px)";
$screen-gt-xs: "screen and (min-width: 600px)";
$screen-sm: "screen and (min-width: 600px) and (max-width: 959px)";
$screen-gt-sm: "screen and (min-width: 960px)";
$screen-md: "screen and (min-width: 960px) and (max-width: 1279px)";
$screen-gt-md: "screen and (min-width: 1280px)";
$screen-lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$screen-gt-lg: "screen and (min-width: 1920px)";