<div ng-if="$ctrl.progress" class="bar"></div>
<div ng-if="$ctrl.progress" class="progress" ng-style="{'width': 'calc(' + $ctrl.progress + '% - 10px)'}"></div>
<div ng-if="$ctrl.progress" class="icon" ng-style="{'left': 'calc(' + $ctrl.progress + '% - 5px)'}">{{$ctrl.progress}}%</div>
<div ng-if="$ctrl.score" class="score">Score: {{$ctrl.score}}%</div>
<div ng-if="!$ctrl.progress" class="no-follow">Suivre ce cours</div>
