progress-bar {
  position: relative;
  margin: 30px 0;
  padding: 0 5px;

  .bar {
  height: 7px;
  background-color: rgba(40, 47, 107, 0.4);
  width: 100%;
  }

  .progress {
    background-color: #282F6B;
    position: absolute;
    height: 7px;
    top: 0;
    // left: 5px;
  }

  .icon {
    position: absolute;
    transform: translateX(-100%);
    bottom: 0;
    background: #282F6B;
    padding: 6px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
  }

  .score {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 7px;
    background: #f1b82d;
    padding: 6px 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 0 5px 5px;
  }

  .no-follow {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #282F6B;
    padding: 15px 20px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s linear;
    min-width: 135px;

    &:hover {
      background-color: #66A1D2;
    }
  }
}