<div layout="column" layout-align="center stretch" md-whiteframe="11">
    <a ui-sref="app.home" layout layout-align="center center">
        <img src="/assets/img/logo.png"/>
    </a>

    <ng-form layout-padding name="authForm" layout="column"layout-align="center center">
        <md-input-container>
            <label>email</label>

            <input type="text" ng-model="user.email" ng-pattern="$ctrl.patterns.email" ng-required="true">
        </md-input-container>

        <md-input-container>
            <label>mot de passe</label>

            <input type="password" ng-model="user.password" ng-minlength="8" ng-required="true">
        </md-input-container>

        <md-button type="submit" ng-click="$ctrl.authenticate(user)" flex class="md-primary md-raised" ng-disabled="authForm.$invalid">
        Se connecter
        </md-button>
    </ng-form>
</div>