authenticate{
  background: url(/assets/img/auth_bckg.jpg) no-repeat center center fixed;
  background-size: cover;

  >div {
    background-color: white;
    width: 98%;
    max-width: 400px !important;

    md-input-container {
      width: 70%;

      input {
        text-transform: lowercase;
      }
    }

    .md-button {
      width: 100%;
      margin: 0;
    }
  }
}